.page-favorites .header .menu-icon span {
  background-color: var(--light-color) !important;
}




.page-favorites .product-item h4,
.page-favorites .product-item span {
  --transition: 0.4s all ease;
  --o-transition: 0.4s all ease;
  --webkite-transition: 0.4s all ease;
  --moz-transition: 0.4s all ease;
  --ms-transition: 0.4s all ease;
}

.page-favorites .product-item .add-cart:hover h4 {
  color: var(--light-color) !important;
}

.page-favorites .product-item .add-cart:hover span {
  color: var(--light-color) !important;
}

